<nav class="site-nav">
    <div class="flex justify-between items-center">
        <div class="nav-logo">
            <img src="img/ONT_icon_only_white.svg" alt="ONT Logo">
            <a href="index.html">Open NeuroTech</a>
        </div>
        <div class="nav-links">
            <a href="shop.html" class="nav-link">Shop</a>
            <a href="index.html#services" class="nav-link">Services</a>
            <a href="index.html#about" class="nav-link">About</a>
            <a href="index.html#contact" class="nav-link">Contact</a>
        </div>
    </div>
</nav>